<div class="page-header">
    <h3 class="page-title">
        Stations
    </h3>
    <nav aria-label="breadcrumb">
        <button type="button" class="btn btn-warning btn-fw" *ngIf="!sharedUserData.isAnalystAdmin" (click)="openAddModal(addModal)">Add</button>
    </nav>
</div>

<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
    <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
    <empty-list *ngIf="stations.length <= 0"></empty-list>
    <div class="col-lg-12 grid-margin stretch-card" *ngIf="stations.length > 0">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Stations List</h4>
                <!-- <p class="card-description">
                    Add class <code>.table-striped</code>
                </p> -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Station
                                </th>
                                <th>
                                    Station Number
                                </th>
                                <th>
                                    Zone
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Creation Date
                                </th>
                                <th *ngIf="!sharedUserData.isAnalystAdmin">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of stations">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.stationNumber }}
                                </td>
                                <td>
                                    {{ item.zoneId }}
                                </td>
                                <td>
                                    {{ item.location.coordinates }}
                                </td>
                                <td>
                                    {{ item.createdAt | date:'mediumDate' }}
                                </td>
                                <td *ngIf="!sharedUserData.isAnalystAdmin">
                                    <button type="button" class="btn btn-warning btn-sm"
                                        (click)="openAddModal(addModal, item)">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="openDeleteItem(deleteModal, item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center pagination-warning" (pageChange)="pageChange($event)" [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize" [page]="pageIndex" aria-label="Default pagination"></ngb-pagination>

</ng-template>

<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Add Boat</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <form [formGroup]="addEditForm" class="pt-3" (ngSubmit)="add()">
                <div class="form-group">
                    <label for="name">Station name</label>
                    <input type="text" class="form-control form-control-lg" id="name" autocomplete="false"
                        formControlName="name" placeholder="Enter station name.">
                </div>
                <div class="form-group">
                    <label for="stationNumber">Station number</label>
                    <input type="text" class="form-control form-control-lg" id="stationNumber" autocomplete="false"
                        formControlName="stationNumber" placeholder="Enter station number.">
                </div>
                <div class="form-group">
                    <label for="zoneId">Station zone Id</label>
                    <select class="form-control" formControlName="zoneId">
                        <option value="" selected>Station zone</option>
                        <option *ngFor="let zone of stationZones" [value]="zone">{{ zone }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="number" class="form-control form-control-lg" id="longitude" autocomplete="false"
                        formControlName="longitude" placeholder="Enter longitude.">
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="number" class="form-control form-control-lg" id="latitude" autocomplete="false"
                        formControlName="latitude" placeholder="Enter latitude.">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #deleteModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Delete item</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            Confirm deleting item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>