<!-- Breadcrumb -->
<div class="page-header">
    <h3 class="page-title">
        Daily Trips & Tours
    </h3>
    <nav aria-label="breadcrumb">
        <button type="button" class="btn btn-warning btn-fw" *ngIf="!sharedUserData.isAnalystAdmin"
            (click)="openAddModal(addModal)">Add</button>
    </nav>
</div>

<!-- Loader and Data -->
<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
    <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <!-- Filters -->
                <div class="row w-75">
                    <div class="form-group col-md-4">
                        <label for="code">Select Type</label>
                        <select class="form-control" #type (change)="filterTypes($event.target.value)">
                            <option value="" [selected]="tripTypes.length > 1">Trip Type</option>
                            <option *ngFor="let type of tripTypes" [value]="type">{{ type }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4" *ngIf="selectedType == 'tour'">
                        <label for="code">Select Category</label>
                        <select class="form-control" (change)="filterCategories($event.target.value)">
                            <option value="" [selected]="!selectedCategory">Tour Category</option>
                            <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning btn-rounded btn-icon mt-3"
                            (click)="resetFilters()">
                            <i class="mdi mdi-reload"></i>
                        </button>
                    </div>
                </div>

                <empty-list *ngIf="trips.length <= 0"></empty-list>

                <!-- Table -->
                <div class="table-responsive" *ngIf="trips.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Route
                                </th>
                                <!-- <th>
                                    From/To
                                </th> -->
                                <th>
                                    Boat
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Days
                                </th>
                                <th>
                                    Creation Date
                                </th>
                                <th *ngIf="!sharedUserData.isAnalystAdmin">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of trips">
                                <td>
                                    {{ formatTripCode(item.code) }}
                                </td>
                                <td>
                                    {{ item.type }} <span *ngIf="item.type == 'tour'"> - {{ item.category.name }}</span>
                                </td>
                                <td>
                                    {{ item.route.name }}
                                </td>
                                <!-- <td >
                                    <button type="button" class="btn btn-outline-info btn-sm btn-p8" *ngIf="item"
                                        (click)="openTripDetails(moreModal, item)">Details</button>
                                </td> -->
                                <td>
                                    {{ item.boat.boatName }}
                                </td>
                                <td>
                                    {{ item.price }}
                                </td>
                                <td>
                                    {{ item.status }}
                                </td>
                                <td style="width: 225px;">
                                    <!-- <div class="row">
                                        <div class="col-3" *ngFor="let item of item.parentTrip.days">{{ formatTripDay(item) }}</div>
                                    </div> -->
                                    - <span *ngFor="let item of item.parentTrip.days">{{ formatTripDay(item) }} - </span>
                                </td>
                                <td>
                                    {{ item.createdAt | date:'mediumDate' }}
                                </td>
                                <td *ngIf="!sharedUserData.isAnalystAdmin">
                                    <button type="button" class="btn btn-warning btn-sm btn-p8"
                                        (click)="openAddModal(addModal, item)">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm btn-p8"
                                        (click)="openDeleteItem(deleteModal, item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Pagination -->
                <ngb-pagination class="d-flex mt-4 justify-content-center pagination-warning"
                    (pageChange)="pageChange($event)" [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize"
                    [page]="pageIndex" aria-label="Default pagination"></ngb-pagination>
            </div>
        </div>
    </div>
</ng-template>

<!-- Modals -->
<ng-template #deleteModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Delete item</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            Confirm deleting item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Add/Update Trip</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <form [formGroup]="addEditForm" class="pt-3" (ngSubmit)="add()">
                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" class="form-control form-control-lg" id="code" autocomplete="false"
                        formControlName="code" placeholder="Enter code.">
                </div>
                <div class="form-group">
                    <label for="code">Type</label>
                    <!-- <select class="form-control" formControlName="type" (change)="chooseType($event.target.value)"> -->
                    <select class="form-control" formControlName="type">
                        <option value="" selected>Trip Type</option>
                        <option *ngFor="let type of tripTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>

                <!-- only tour related -->
                <div class="form-group" *ngIf="addEditForm && addEditForm.controls['type'].value == 'tour'">
                    <label for="code">Tour Category</label>
                    <select class="form-control" formControlName="tripCategory">
                        <option value="" selected>Tour Category</option>
                        <option *ngFor="let categ of categories" [value]="categ._id">{{ categ.name }}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="addEditForm && addEditForm.controls['type'].value == 'tour'">
                    <label for="description">Description</label>
                    <input type="text" class="form-control form-control-lg" id="description" autocomplete="false"
                        formControlName="description" placeholder="Enter description.">
                </div>
                <div class="form-group" *ngIf="addEditForm && addEditForm.controls['type'].value == 'tour'">
                    <label for="tourImage">Tour Image(s)</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" (change)="OnChangeFile($event.target.files)"
                                id="tourImage" aria-describedby="tourImage" placeholder="Enter Tour Image" multiple>
                            <label class="custom-file-label" for="tourImage">{{shortImageName}}</label>
                        </div>
                    </div>
                </div>
                <!-- only tour related -->

                <div class="form-group">
                    <label for="route">Route</label>
                    <select class="form-control" formControlName="route">
                        <option value="" selected>Trip Route</option>
                        <option *ngFor="let route of tripRoutesToView" [value]="route._id">{{ route.name }}</option>
                    </select>
                </div>

                <!-- stations -->
                <!-- <div class="form-group">
                    <h2 class="divider-h2"><span>Stations</span></h2>
                </div>
                <div class="form-group">
                    <ng-container formArrayName="stations2">
                        <div *ngFor="let item of stations2.controls; index as i">
                            <label for="stations2">Stations - {{ i + 1 }} <span class="text-danger">*</span></label>
                           
                            <div class="row m-0 mb-2">
                                <select class="form-control col-10" [formControlName]="i">
                                    <option *ngFor="let station of stations" [value]="station._id">{{ station.name }}</option>
                                </select>
                                <i class="mdi mdi-close col-1 mt-2 text-danger" style="cursor: pointer;" (click)="removeFormField(i)"></i>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-warning btn-fw" (click)="addFormField()">Add station</button>
                </div> -->
                <!-- stations -->

                <div class="form-group">
                    <label for="boat">Boat</label>
                    <select class="form-control" formControlName="boat">
                        <option value="" selected>Boat</option>
                        <option *ngFor="let boat of boats" [value]="boat._id">{{ boat.boatName }}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="addEditForm && addEditForm.controls['type'].value == 'tour'">
                    <label for="price">Price</label>
                    <input type="number" class="form-control form-control-lg" id="price" autocomplete="false"
                        formControlName="price" placeholder="Enter price.">
                </div>

                <!-- pickup/terminal dates -->
                <div class="row">
                    <!-- <div class="form-group col-md-8">
                        <label for="pickupDate">Pickup date</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="pickupDate"
                                [(ngModel)]="pickupDateModel" ngbDatepicker #d="ngbDatepicker">
                            <button class="btn btn-outline-warning btn-icon-text btn-sm" (click)="d.toggle()"
                                type="button">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                        </div>
                    </div> -->
                    <div class="form-group col-md-4">
                        <label for="pickupTime">Start time</label>
                        <div class="input-group">
                            <ngb-timepicker [(ngModel)]="pickupTime" meridian="true" formControlName="pickupTime"></ngb-timepicker>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-group col-md-8">
                        <label for="terminalDate">Terminal date</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="terminalDate"
                                [(ngModel)]="terminalDateModel" ngbDatepicker #d2="ngbDatepicker">
                            <button class="btn btn-outline-warning btn-icon-text btn-sm" (click)="d2.toggle()"
                                type="button">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="terminalTime">Terminal time</label>
                        <div class="input-group">
                            <ngb-timepicker [(ngModel)]="terminalTime"  formControlName="terminalTime"></ngb-timepicker>
                        </div>
                    </div>
                </div> -->
                <!-- pickup/terminal dates -->

                <!-- <div class="form-check form-check-flat form-check-warning" *ngIf="addEditForm && addEditForm.controls['type'].value != 'tour'">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" formControlName="isRepeatedDaily">
                      Repeat daily
                      <i class="input-helper"></i>
                    </label>
                  </div> -->
                  
                <div class="row">
                    <label class="col-12">Days</label>
                    <div class="col-2" *ngFor="let item of days">
                        <div class="form-check form-check-flat form-check-warning">
                            <label class="form-check-label" style="cursor: pointer;">
                                <input type="checkbox" class="form-check-input" [checked]="item.selected" (change)="selectDay(item, $event.target.checked)">
                                {{ item.name }}
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid || stations2.invalid">Submit</button> -->
                    <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid || selectedDays.length <= 0">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #moreModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content p-3">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">More details</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <div class="row">
                <div class="col-md-12 text-center mb-4"
                    *ngIf="selectedTripDetails.tourImage && selectedTripDetails.tourImage.length > 0">
                    <img *ngFor="let image of selectedTripDetails.tourImage" [src]="image" alt="user image"
                        class="item_image w-25 rounded" onError="this.src='./assets/images/login-logo.png'">
                </div>
                <div class="col-md-12" *ngIf="selectedTripDetails.description">
                    <h4 class="card-title font-weight-bold">Description</h4>
                    <p class="card-description text-muted">{{selectedTripDetails.description}}</p>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title font-weight-bold">Pickup</h4>
                    <p class="card-description text-muted">{{selectedTripDetails.pickupStation.name}}</p>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title font-weight-bold">Terminal</h4>
                    <p class="card-description text-muted">{{selectedTripDetails.terminalStation.name}}</p>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title font-weight-bold">From</h4>
                    <p class="card-description text-muted">{{selectedTripDetails.pickupDate | date: 'MMM d, y, h:mm a'}}
                    </p>
                </div>
                <div class="col-md-6">
                    <h4 class="card-title font-weight-bold">To</h4>
                    <p class="card-description text-muted">{{selectedTripDetails.terminalDate | date: 'MMM d, y, h:mm
                        a'}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>

    </div>
</ng-template>