<div class="page-header">
    <h3 class="page-title">
        Skippers
    </h3>
    <nav aria-label="breadcrumb">
        <button type="button" class="btn btn-warning btn-fw" *ngIf="!sharedUserData.isAnalystAdmin" (click)="openAddModal(addModal)">Add</button>
    </nav>
</div>

<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
    <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
    <empty-list *ngIf="pilots.length <= 0"></empty-list>
    <div class="col-lg-12 grid-margin stretch-card" *ngIf="pilots.length > 0">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Skippers List</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!-- <th>
                                    User
                                </th> -->
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Code Name
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Birth Date
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Boat
                                </th>
                                <th>
                                    License Type
                                </th>
                                <th>
                                    License #
                                </th>
                                <th>
                                    License Issuing Date
                                </th>
                                <th>
                                    License Expiration
                                </th>
                                <th>
                                    Created At
                                </th>
                                <th *ngIf="!sharedUserData.isAnalystAdmin">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pilots">
                                <!-- <td class="py-1">
                                    <ng-container
                                        *ngIf="(item.avatarUrl && item.avatarUrl.length > 0); else elseNoImageTemplate">
                                        <img [src]="item.imageurl" alt="user image"
                                            onError="this.src='./assets/images/faces/face1.jpg'">
                                    </ng-container>
                                    <ng-template #elseNoImageTemplate>
                                        <img src="./assets/images/faces/face1.jpg" alt="user photo">
                                    </ng-template>
                                </td> -->
                                <td>
                                    {{ item.fullName }}
                                </td>
                                <td>
                                    {{ item.codeName }}
                                </td>
                                <td>
                                    {{ item.username }}
                                </td>
                                <td>
                                    {{ item.dateOfBirth | date:'mediumDate' }}
                                </td>
                                <td>
                                    {{ item.email }}
                                </td>
                                <td>
                                    {{ item.phone }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-sm" *ngIf="item.boat"
                                        (click)="openBoatDetails(boatModal, item.boat)">Details</button>
                                </td>
                                <td>
                                    {{ item.licenseType }}
                                </td>
                                <td>
                                    {{ item.licenseNumber }}
                                </td>
                                <td>
                                    {{ item.licenseIssuingDate | date:'mediumDate' }}
                                </td>
                                <td>
                                    {{ item.licenseExpirationDate | date:'mediumDate' }}
                                </td>
                                <td>
                                    {{ item.createdAt | date:'mediumDate' }}
                                </td>
                                <td *ngIf="!sharedUserData.isAnalystAdmin" style="display: inline-flex !important;">
                                    <button type="button" class="btn btn-warning btn-sm btn-p5 mt-2"
                                        (click)="openAddModal(addModal, item)">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm btn-p5 mt-2"
                                        (click)="openDeleteItem(deleteModal, item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center pagination-warning" (pageChange)="pageChange($event)" [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize" [page]="pageIndex" aria-label="Default pagination"></ngb-pagination>
</ng-template>

<ng-template #boatModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content p-3">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Boat details</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Boat name</h4>
                    <p class="card-description text-muted">{{selectedBoat.boatName}}</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Model</h4>
                    <p class="card-description text-muted">{{selectedBoat.model}}</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Capacity</h4>
                    <p class="card-description text-muted">{{selectedBoat.capacity}}</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Status</h4>
                    <p [ngSwitch]="selectedBoat.status">
                        <label *ngSwitchCase="'ready'" class="badge badge-success">Ready</label>
                        <label *ngSwitchCase="'needMaintenance'" class="badge badge-danger">Need Maint.</label>
                        <label *ngSwitchDefault class="badge badge-warning">In Maint.</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">(h)s For Maint.</h4>
                    <p class="card-description text-muted">{{selectedBoat.hoursNeededForMaintenance}}</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Hours Traveled</h4>
                    <p class="card-description text-muted">{{selectedBoat.hoursTraveled | number}}</p>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Last Maintained At</h4>
                    <ng-container *ngIf="selectedBoat.lastMaintenanceDate; else elseStillFreshTemplate">
                        <p class="card-description text-muted">{{selectedBoat.lastMaintenanceDate | date: 'mediumDate'}}
                        </p>
                    </ng-container>
                    <ng-template #elseStillFreshTemplate>
                        <p class="card-description text-muted">Still Fresh</p>
                    </ng-template>
                </div>
                <div class="col-sm-3">
                    <h4 class="card-title font-weight-bold">Needs Maintenance?</h4>
                    <ng-container *ngIf="selectedBoat.needsMaintenance; else elseNotAcceptedTemplate">
                        <label class="badge badge-danger">YES</label>
                    </ng-container>
                    <ng-template #elseNotAcceptedTemplate>
                        <label class="badge badge-success">NO</label>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>

    </div>
</ng-template>

<ng-template #deleteModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Delete item</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            Confirm deleting item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Add Skipper</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body mx-3">
            <form [formGroup]="addEditForm" (ngSubmit)="add()">
                <p class="card-description">
                    Skipper Details
                </p>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="fullName">Full name</label>
                        <input type="text" class="form-control form-control-lg" id="fullName" autocomplete="false"
                            formControlName="fullName" placeholder="Enter full name.">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="codeName">Code name</label>
                        <input type="text" class="form-control form-control-lg" id="codeName" autocomplete="false"
                            formControlName="codeName" placeholder="Enter Code name.">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="username">Username</label>
                        <input type="text" class="form-control form-control-lg" id="username" autocomplete="false"
                            formControlName="username" placeholder="Enter username.">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control form-control-lg" id="phone" autocomplete="false"
                            formControlName="phone" placeholder="Enter phone.">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input type="email" class="form-control form-control-lg" id="email" autocomplete="false"
                            formControlName="email" placeholder="Enter email.">
                    </div>
                    <div class="form-group col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" formControlName="gender"
                                            id="optionsRadios1" value="male" checked>
                                        Male
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" formControlName="gender"
                                            id="optionsRadios2" value="option2">
                                        Female
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 ">
                        <label for="dateOfBirth">Date of birth</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="dateOfBirth"
                                [(ngModel)]="dateOfBirthDateModel" ngbDatepicker #d="ngbDatepicker">
                            <button class="btn btn-outline-warning btn-icon-text btn-sm" (click)="d.toggle()"
                                type="button">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="licenseType">License Type</label>
                        <input type="text" class="form-control form-control-lg" id="licenseType" autocomplete="false"
                            formControlName="licenseType" placeholder="Enter license type.">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="licenseNumber">License Number</label>
                        <input type="text" class="form-control form-control-lg" id="licenseNumber" autocomplete="false"
                            formControlName="licenseNumber" placeholder="Enter license number.">
                    </div>

                    <div class="form-group col-md-12 ">
                        <label for="licenseIssuingDate">License Issuing Date</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="licenseIssuingDate"
                                [(ngModel)]="licenseIssuingDateModel" ngbDatepicker #d2="ngbDatepicker">
                            <button class="btn btn-outline-warning btn-icon-text btn-sm" (click)="d2.toggle()"
                                type="button">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12 ">
                        <label for="licenseExpirationDate">license Expiration Date</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" formControlName="licenseExpirationDate"
                                [(ngModel)]="licenseExpirationDateModel" ngbDatepicker #d3="ngbDatepicker">
                            <button class="btn btn-outline-warning btn-icon-text btn-sm" (click)="d3.toggle()"
                                type="button">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                        </div>
                    </div>

                </div>
                
                <p class="w-100 text-danger font-weight-bold" *ngIf="resError && resError.length > 0">
                    Already exist: {{ resError }}
                </p>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>