<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': admin.isActive }">
      <a class="nav-link" routerLink="/admin" routerLinkActive #admin="routerLinkActive">
        <span class="menu-title">Admins</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': pilot.isActive }">
      <a class="nav-link" routerLink="/pilot" routerLinkActive #pilot="routerLinkActive">
        <span class="menu-title">Pilots</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <!-- <li class="nav-item" [ngClass]="{ 'active': boat.isActive }">
      <a class="nav-link" routerLink="/boat" routerLinkActive #boat="routerLinkActive">
        <span class="menu-title">Boats</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li> -->
    <li class="nav-item" [ngClass]="{ 'active': station.isActive }">
      <a class="nav-link" routerLink="/station" routerLinkActive #station="routerLinkActive">
        <span class="menu-title">Stations</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': fuelRequest.isActive }">
      <a class="nav-link" routerLink="/fuel-request" routerLinkActive #fuelRequest="routerLinkActive">
        <span class="menu-title">Fuel Requests</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': passenger.isActive }">
      <a class="nav-link" routerLink="/passenger" routerLinkActive #passenger="routerLinkActive">
        <span class="menu-title">Passengers</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <li class="nav-item" [ngClass]="{'active' : dailyTrip.isActive || privateTrip.isActive }">
      <a class="nav-link" (click)="tripsCollapsed = !tripsCollapsed" [attr.aria-expanded]="tripsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Trips</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!tripsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/daily-trip" routerLinkActive="active" #dailyTrip="routerLinkActive">Trips</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/private-trip" routerLinkActive="active" #privateTrip="routerLinkActive">Trip Requests</a></li>
          <!-- <li class="nav-item"> <a class="nav-link" routerLink="/tour" routerLinkActive="active" #tour="routerLinkActive">Tours</a></li> -->
        </ul>
      </div>
    </li>
  </ul>
</nav>
