<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    
    <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>

    <!-- Accounts -->
    <li class="nav-item" [ngClass]="{'active' : (admin && admin.isActive) || corporateAccount.isActive}">
      <a class="nav-link" (click)="accountsCollapsed = !accountsCollapsed" [attr.aria-expanded]="accountsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Accounts</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!accountsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin"> <a class="nav-link" routerLink="/admin" routerLinkActive="active" #admin="routerLinkActive">Admins</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/corporate-account" routerLinkActive="active" #corporateAccount="routerLinkActive">Corporate Accounts</a></li>
        </ul>
      </div>
    </li>
    <!-- Accounts -->
    
    <!-- Boat Settings -->
    <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin" [ngClass]="{'active' : station.isActive || boat.isActive || pilot.isActive || fuelRequest.isActive}">
      <a class="nav-link" (click)="boatsCollapsed = !boatsCollapsed" [attr.aria-expanded]="boatsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Boats Settings</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-taxi menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!boatsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/station" routerLinkActive="active" #station="routerLinkActive">Stations</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/boat" routerLinkActive="active" #boat="routerLinkActive">Boats</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/pilot" routerLinkActive="active" #pilot="routerLinkActive">Skippers</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/fuel-request" routerLinkActive="active" #fuelRequest="routerLinkActive">Fuel Requests</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/emergency" routerLinkActive="active" #emergency="routerLinkActive">Skipper Emergencies</a></li>
        </ul>
      </div>
    </li>
    <!-- Boat Settings -->

    <!-- Passengers Settings -->
    <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin" [ngClass]="{'active' : passenger.isActive || complaint.isActive || studentRequests.isActive}">
      <a class="nav-link" (click)="passengersCollapsed = !passengersCollapsed" [attr.aria-expanded]="passengersCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Passengers Settings</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-human-greeting menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!passengersCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/passenger" routerLinkActive="active" #passenger="routerLinkActive">Passengers</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/student-request" routerLinkActive="active" #studentRequests="routerLinkActive">Student Requests</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/complaint" routerLinkActive="active" #complaint="routerLinkActive">Complaints</a></li>
        </ul>
      </div>
    </li>
    <!-- Passengers Settings -->    

    <!-- Packages Settings -->    
    <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin" [ngClass]="{'active' : package.isActive || promocode.isActive}">
      <a class="nav-link" (click)="packagesCollapsed = !packagesCollapsed" [attr.aria-expanded]="packagesCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Packages Settings</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-shopping menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!packagesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/package" routerLinkActive="active" #package="routerLinkActive">Packages</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/promocode" routerLinkActive="active" #promocode="routerLinkActive">Promo Codes</a></li>
        </ul>
      </div>
    </li>
    <!-- Packages Settings -->    

    <!-- Trips Settings -->    
    <li class="nav-item" *ngIf="!sharedUserData.isCorporateAdmin" [ngClass]="{'active' : dailyTrip.isActive || privateTrip.isActive || tourCategory.isActive }">
      <a class="nav-link" (click)="tripsCollapsed = !tripsCollapsed" [attr.aria-expanded]="tripsCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Trips</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!tripsCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/tour-category" routerLinkActive="active" #tourCategory="routerLinkActive">Tour Categories</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/daily-trip" routerLinkActive="active" #dailyTrip="routerLinkActive">Trips</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/private-trip" routerLinkActive="active" #privateTrip="routerLinkActive">Trip Requests</a></li>
          <!-- <li class="nav-item"> <a class="nav-link" routerLink="/tour" routerLinkActive="active" #tour="routerLinkActive">Tours</a></li> -->
        </ul>
      </div>
    </li>
    <!-- Trips Settings -->    

  </ul>
</nav>
