<div class="page-header">
    <h3 class="page-title">
        Packages
    </h3>
    <nav aria-label="breadcrumb">
        <!-- <button type="button" class="btn btn-warning btn-fw" *ngIf="!sharedUserData.isAnalystAdmin" (click)="openPriceMatrix(priceMatrixModal)">Price Matrix</button> -->
        <button type="button" class="btn btn-warning btn-fw" *ngIf="!sharedUserData.isAnalystAdmin" (click)="openAddModal(addModal)">Add</button>
    </nav>
</div>

<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
    <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
    <empty-list *ngIf="packages.length <= 0"></empty-list>
    <div class="col-lg-12 grid-margin stretch-card" *ngIf="packages.length > 0">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Packages List</h4>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Package
                                </th>
                                <th>
                                    Type
                                </th>
                                <!-- <th>
                                    # Rides
                                </th> -->
                                <th>
                                    Price
                                </th>
                                <th>
                                    Expires in (Months)
                                </th>
                                <th>
                                    Status
                                </th>
                                <th *ngIf="!sharedUserData.isAnalystAdmin">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of packages">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.type }}
                                </td>
                                <!-- <td>
                                    {{ item.noOfRides }}
                                </td> -->
                                <td>
                                    {{ item.price }}
                                </td>
                                <td>
                                    {{ item.expiresAfter }}
                                </td>
                                <td>
                                    <ng-container *ngIf="item.isActive; else elseNotActiveTemplate">
                                        <label class="badge badge-success">Active</label>
                                    </ng-container>
                                    <ng-template #elseNotActiveTemplate>
                                        <label class="badge badge-dark">Inavtice</label>
                                    </ng-template>
                                </td>
                                <td *ngIf="!sharedUserData.isAnalystAdmin">
                                    <button type="button" class="btn btn-warning btn-sm"
                                        (click)="openAddModal(addModal, item)">Edit</button>
                                    <!-- <button type="button" class="btn btn-danger btn-sm"
                                        (click)="openDeleteItem(deleteModal, item)">Delete</button> -->
                                    <button type="button" class="btn btn-sm"
                                        [ngClass]="item.isActive ? 'btn-danger' : 'btn-dark'"
                                        (click)="openActivateItem(activateModal, item, !item.isActive)">
                                        {{ item.isActive ? 'Deactivate' : 'Activate' }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center pagination-warning" (pageChange)="pageChange($event)"
        [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize" [page]="pageIndex"
        aria-label="Default pagination"></ngb-pagination>

</ng-template>

<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Add Package</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <form [formGroup]="addEditForm" class="pt-3" (ngSubmit)="add()">
                <div class="form-group">
                    <label for="name">Package name</label>
                    <input type="text" class="form-control form-control-lg" id="name" autocomplete="false"
                        formControlName="name" placeholder="Enter package name.">
                </div>
                
                <div class="form-group">
                    <label for="code">Type</label>
                    <select class="form-control" formControlName="type">
                        <option value="general" selected>General</option>
                        <option value="family">Family</option>
                        <option value="student">Student</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label for="noOfRides">Number of rides</label>
                    <input type="number" class="form-control form-control-lg" id="noOfRides" autocomplete="false"
                        formControlName="noOfRides" placeholder="Enter number of rides.">
                </div> -->
                <div class="form-group">
                    <label for="price">Price (EGP)</label>
                    <input type="number" class="form-control form-control-lg" id="price" autocomplete="false"
                        formControlName="price" placeholder="Enter package price.">
                </div>
                <div class="form-group">
                    <label for="expiresAfter">Expires in (Monthes)</label>
                    <input type="number" class="form-control form-control-lg" id="expiresAfter" autocomplete="false"
                        formControlName="expiresAfter" placeholder="Enter value.">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #deleteModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Delete item</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            Confirm deleting item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #activateModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Deactivate/Activate Package</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            {{ activatePackage ? 'Activate' : 'Deactivate' }} Package ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="activate()">{{ activatePackage ? 'Activate' : 'Deactivate' }}</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #priceMatrixModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Update prices</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <p class="text-danger font-weight-bold">Enter the updated price and just click outside the field</p>

            <div class="table-responsive">
                <table class="table table-striped matrix-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                
                            </th>
                            <th>
                                Zone 1
                            </th>
                            <th>
                                Zone 2
                            </th>
                            <th>
                                Zone 3
                            </th>
                            <th>
                                Zone 4
                            </th>
                            <th>
                                Zone 5 A
                            </th>
                            <th>
                                Zone 5 B
                            </th>
                            <th>
                                Zone 6
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of priceMatrix; let i = index;">
                            <th scope="row" class="px-0 text-center text-capitalize" style="width: 50px;">
                                {{ item.name }}
                            </th>
                            <td *ngFor="let price of item.toZonesPrices; let j = index;">
                                <input type="number" class="form-control form-control-lg" (blur)="changePrice(i, j, $event.target.value)" #p{{i}}{{j}} id="{{i}}{{j}}" value="{{price}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
            </div>
        </div>
    </div>
</ng-template>