<div class="page-header">
    <h3 class="page-title">
        Tour Categories
    </h3>
    <nav aria-label="breadcrumb">
        <button type="button" class="btn btn-warning btn-fw" (click)="openAddModal(addModal)">Add</button>
    </nav>
</div>

<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
    <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
    <empty-list *ngIf="categories.length <= 0"></empty-list>
    <div class="col-lg-12 grid-margin stretch-card" *ngIf="categories.length > 0">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tour Categories List</h4>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Creation Date
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of categories">
                                <td>
                                    {{ item.name }}
                                </td>
                                <td>
                                    {{ item.createdAt | date:'mediumDate' }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm"
                                        (click)="openAddModal(addModal, item)">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="openDeleteItem(deleteModal, item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center pagination-warning" (pageChange)="pageChange($event)"
        [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize" [page]="pageIndex"
        aria-label="Default pagination"></ngb-pagination>

</ng-template>


<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Add Category</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <form [formGroup]="addEditForm" class="pt-3" (ngSubmit)="add()">
                <div class="form-group">
                    <label for="name">Category name</label>
                    <input type="text" class="form-control form-control-lg" id="name" autocomplete="false"
                        formControlName="name" placeholder="Enter category name.">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #deleteModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Delete item</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            Confirm deleting item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>