<div class="page-header">
    <h3 class="page-title">
        Boats
    </h3>
    <nav aria-label="breadcrumb">
        <button type="button" class="btn btn-warning btn-fw" *ngIf="!sharedUserData.isAnalystAdmin" (click)="openAddModal(addModal)">Add</button>
    </nav>
</div>

<ng-container *ngIf="gettingData; else elseFoundDataTemplate">
    <loading-spinner></loading-spinner>
</ng-container>
<ng-template #elseFoundDataTemplate>
    <empty-list *ngIf="boats.length <= 0"></empty-list>
    <div class="col-lg-12 grid-margin stretch-card" *ngIf="boats.length > 0">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Boats List</h4>
                <p class="card-description">
                    Maint. for <code>.Maintenance</code>
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-capitalize">
                                <!-- <th>
                                    image
                                </th> -->
                                <th>
                                    Name
                                </th>
                                <th>
                                    type
                                </th>
                                <th>
                                    Model
                                </th>
                                <th>
                                    model Year
                                </th>
                                <th>
                                    Serial
                                </th>
                                <th>
                                    launchDate
                                </th>
                                <th>
                                    length
                                </th>
                                <th>
                                    beam
                                </th>
                                <th>
                                    license
                                </th>
                                <th>
                                    license Renewal Date
                                </th>
                                <th>
                                    engine Brand
                                </th>
                                <th>
                                    engine Model
                                </th>
                                <th>
                                    engine Model Year
                                </th>
                                <th>
                                    engine Serial
                                </th>
                                <th>
                                    engine Hours
                                </th>
                                <th>
                                    top Speed
                                </th>
                                <th>
                                    average Speed
                                </th>
                                <th>
                                    Capacity
                                </th>
                                <th>
                                    Skipper
                                </th>
                                <th>
                                    fuel Capacity
                                </th>
                                <th>
                                    fuel Type
                                </th>
                                <th>
                                    expected Fuel Consumption
                                </th>
                                <th>
                                    Maint. At
                                </th>
                                <th>
                                    Maint. (h)s
                                </th>
                                <th>
                                    Traveled (h)s
                                </th>
                                <th>
                                    Maint. Status
                                </th>
                                <th>
                                    Needs Maint.
                                </th>
                                <th *ngIf="!sharedUserData.isAnalystAdmin">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of boats">
                                <!-- <td>
                                    {{ item.image }}
                                </td> -->
                                <td>
                                    {{ item.boatName }}
                                </td>
                                <td>
                                    {{ item.type }}
                                </td>
                                <td>
                                    {{ item.model }}
                                </td>
                                <td>
                                    {{ item.modelYear }}
                                </td>
                                <td>
                                    {{ item.serial }}
                                </td>
                                <td>
                                    {{ item.launchDate }}
                                </td>
                                <td>
                                    {{ item.length }}
                                </td>
                                <td>
                                    {{ item.beam }}
                                </td>
                                <td>
                                    {{ item.license }}
                                </td>
                                <td>
                                    {{ item.licenseRenewalDate }}
                                </td>
                                <td>
                                    {{ item.engineBrand }}
                                </td>
                                <td>
                                    {{ item.engineModel }}
                                </td>
                                <td>
                                    {{ item.engineModelYear }}
                                </td>
                                <td>
                                    {{ item.engineSerial }}
                                </td>
                                <td>
                                    {{ item.engineHours }}
                                </td>
                                <td>
                                    {{ item.topSpeed }}
                                </td>
                                <td>
                                    {{ item.averageSpeed }}
                                </td>
                                <td>
                                    {{ item.capacity }}
                                </td>
                                <td>
                                    {{ item.assignedPilotId ? item.assignedPilotId.fullName : 'Not Assigned' }}
                                </td>
                                <td>
                                    {{ item.fuelCapacity }}
                                </td>
                                <td>
                                    {{ item.fuelType }}
                                </td>
                                <td>
                                    {{ item.expectedFuelConsumption }}
                                </td>
                                <td>
                                    <ng-container *ngIf="item.lastMaintenanceDate; else elseStillFreshTemplate">
                                        {{ item.lastMaintenanceDate | date:'mediumDate' }}
                                    </ng-container>
                                    <ng-template #elseStillFreshTemplate>
                                        Still Fresh
                                    </ng-template>
                                </td>
                                <td>
                                    {{ item.hoursNeededForMaintenance }}
                                </td>
                                <td>
                                    {{ item.hoursTraveled | number }}
                                </td>
                                <td>
                                    <span [ngSwitch]="item.status">
                                        <label *ngSwitchCase="'ready'" class="badge badge-success">Ready</label>
                                        <label *ngSwitchCase="'needMaintenance'" class="badge badge-danger">Need Maint.</label>
                                        <label *ngSwitchDefault class="badge badge-warning">In Maint.</label>
                                    </span>
                                </td>
                                <td>
                                    <ng-container *ngIf="item.needsMaintenance; else elseNotAcceptedTemplate">
                                        <label class="badge badge-danger">YES</label>
                                    </ng-container>
                                    <ng-template #elseNotAcceptedTemplate>
                                        <label class="badge badge-success">NO</label>
                                    </ng-template>
                                </td>
                                <!-- <td>
                                    <ng-container *ngIf="item.isActive; else elseNotAcceptedTemplate">
                                        <label class="badge badge-success">YES</label>
                                    </ng-container>
                                    <ng-template #elseNotAcceptedTemplate>
                                        <label class="badge badge-gradient-danger">NO</label>
                                    </ng-template>
                                </td> -->
                                <!-- <td>
                                    {{ item.createdAt | date:'mediumDate' }}
                                </td> -->
                                <td *ngIf="!sharedUserData.isAnalystAdmin" style="display: inline-flex !important;">
                                    <button type="button" class="btn btn-warning btn-sm btn-p5 mt-2"
                                        (click)="openAddModal(addModal, item)">Edit</button>
                                    <button type="button" class="btn btn-danger btn-sm btn-p5 mt-2"
                                        (click)="openDeleteItem(deleteModal, item)">Delete</button>
                                    <button type="button" class="btn btn-sm btn-p5 mt-2"
                                        [ngClass]="item.isActive ? 'btn-danger' : 'btn-dark'"
                                        (click)="openActivateItem(activateModal, item, !item.isActive)">
                                        {{ item.isActive ? 'Suspend' : 'Activate' }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center pagination-warning" (pageChange)="pageChange($event)" [collectionSize]="totalCount" [maxSize]="5" [pageSize]="pageSize" [page]="pageIndex" aria-label="Default pagination"></ngb-pagination>
</ng-template>

<ng-template #addModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Add Boat</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            <form [formGroup]="addEditForm" class="pt-3" (ngSubmit)="add()">
                <div class="form-group">
                    <label for="boatName">Boat name</label>
                    <input type="text" class="form-control form-control-lg" id="boatName" autocomplete="false"
                        formControlName="boatName" placeholder="Enter boat name.">
                </div>
                <div class="form-group">
                    <label for="serial">Serial</label>
                    <input type="text" class="form-control form-control-lg" id="serial" autocomplete="false"
                        formControlName="serial" placeholder="Enter serial.">
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" class="form-control form-control-lg" id="model" autocomplete="false"
                        formControlName="model" placeholder="Enter model.">
                </div>

                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" class="form-control form-control-lg" id="capacity" autocomplete="false"
                        formControlName="capacity" placeholder="Enter capacity.">
                </div>

                <div class="form-group">
                    <label for="hoursNeededForMaintenance">hours Needed For Maintenance</label>
                    <input type="number" class="form-control form-control-lg" id="hoursNeededForMaintenance"
                        autocomplete="false" formControlName="hoursNeededForMaintenance"
                        placeholder="Enter maintenance hours.">
                </div>

                <div class="form-group">
                    <label for="assignedPilotId">Skipper</label>
                    <select class="form-control" formControlName="assignedPilotId">
                        <option value="" selected>Skipper</option>
                        <option *ngFor="let pilot of pilots" [value]="pilot._id">{{ pilot.fullName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="fuelCapacity">Fuel capacity</label>
                    <input type="number" class="form-control form-control-lg" id="fuelCapacity" autocomplete="false"
                        formControlName="fuelCapacity" placeholder="Enter fuel capacity.">
                </div>

                <div class="form-group">
                    <label for="fuelType">Fuel type</label>
                    <select class="form-control" formControlName="fuelType">
                        <option value="" selected>Fuel Type</option>
                        <option *ngFor="let type of fuelTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="expectedFuelConsumption">expectedFuelConsumption</label>
                    <input type="number" class="form-control form-control-lg" id="expectedFuelConsumption" autocomplete="false"
                        formControlName="expectedFuelConsumption" placeholder="Enter expectedFuelConsumption.">
                </div>

                <div class="form-group">
                    <label for="type">type</label>
                    <input type="text" class="form-control form-control-lg" id="type" autocomplete="false"
                        formControlName="type" placeholder="Enter type.">
                </div>
                <div class="form-group">
                    <label for="modelYear">modelYear</label>
                    <input type="text" class="form-control form-control-lg" id="modelYear" autocomplete="false"
                        formControlName="modelYear" placeholder="Enter modelYear.">
                </div>
                <div class="form-group">
                    <label for="launchDate">launchDate</label>
                    <input type="date" class="form-control form-control-lg" id="launchDate" autocomplete="false"
                        formControlName="launchDate" placeholder="Enter launchDate.">
                </div>

                <div class="form-group">
                    <label for="length">length</label>
                    <input type="number" class="form-control form-control-lg" id="length" autocomplete="false"
                        formControlName="length" placeholder="Enter length.">
                </div>
                <div class="form-group">
                    <label for="beam">beam</label>
                    <input type="text" class="form-control form-control-lg" id="beam" autocomplete="false"
                        formControlName="beam" placeholder="Enter beam.">
                </div>
                <div class="form-group">
                    <label for="license">license</label>
                    <input type="text" class="form-control form-control-lg" id="license" autocomplete="false"
                        formControlName="license" placeholder="Enter license.">
                </div>
                <div class="form-group">
                    <label for="licenseRenewalDate">licenseRenewalDate</label>
                    <input type="date" class="form-control form-control-lg" id="licenseRenewalDate" autocomplete="false"
                        formControlName="licenseRenewalDate" placeholder="Enter licenseRenewalDate.">
                </div>

                <div class="form-group">
                    <label for="engineBrand">engineBrand</label>
                    <input type="text" class="form-control form-control-lg" id="engineBrand" autocomplete="false"
                        formControlName="engineBrand" placeholder="Enter engineBrand.">
                </div>
                <div class="form-group">
                    <label for="engineModel">engineModel</label>
                    <input type="text" class="form-control form-control-lg" id="engineModel" autocomplete="false"
                        formControlName="engineModel" placeholder="Enter engineModel.">
                </div>
                <div class="form-group">
                    <label for="engineModelYear">engineModelYear</label>
                    <input type="text" class="form-control form-control-lg" id="engineModelYear" autocomplete="false"
                        formControlName="engineModelYear" placeholder="Enter engineModelYear.">
                </div>
                <div class="form-group">
                    <label for="engineSerial">engineSerial</label>
                    <input type="text" class="form-control form-control-lg" id="engineSerial" autocomplete="false"
                        formControlName="engineSerial" placeholder="Enter engineSerial.">
                </div>
                <div class="form-group">
                    <label for="engineHours">engineHours</label>
                    <input type="number" class="form-control form-control-lg" id="engineHours" autocomplete="false"
                        formControlName="engineHours" placeholder="Enter engineHours.">
                </div>
                <div class="form-group">
                    <label for="topSpeed">topSpeed</label>
                    <input type="number" class="form-control form-control-lg" id="topSpeed" autocomplete="false"
                        formControlName="topSpeed" placeholder="Enter topSpeed.">
                </div>
                <div class="form-group">
                    <label for="averageSpeed">averageSpeed</label>
                    <input type="number" class="form-control form-control-lg" id="averageSpeed" autocomplete="false"
                        formControlName="averageSpeed" placeholder="Enter averageSpeed.">
                </div>

                <p class="w-100 text-danger font-weight-bold" *ngIf="resError && resError.length > 0">
                    Already exist: {{ resError }}
                </p>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="addEditForm.invalid">Submit</button>
                    <button type="button" class="btn btn-light" (click)="modal.close()">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</ng-template>

<ng-template #deleteModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Delete item</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            Confirm deleting item.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>

<ng-template #activateModal let-modal class="modal fade" id="exampleModal-2" aria-labelledby="exampleModalLabel-2">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-2">Suspend/Activate Boat</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body m-3">
            {{ activateBoat ? 'Activate' : 'Suspend' }} Boat ?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="activate()">{{ activateBoat ? 'Activate' : 'Suspend' }}</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
        </div>
    </div>
</ng-template>